<% word = @wordrobe.first %>

<%= javascript_tag do %>
$(function(){
  $('input[type=radio].star').rating();
});
<% end %>

<% if word %>
  <div id="prev"><%= paginate_prev(@wordrobe) %></div>
  <div id="word_info">
    <div id="register_count"><%= word.register_count %></div>
    <div id="heart"><%= word.word.name %></div>
    <div id="rating"><%= rating(word) %></div>
    <input type="hidden" name="wordrobe_id" id="wordrobe_id" value="<%= word.id %>" />
    <input type="hidden" name="page" id="page" value="<%= params[:page] %>" />
  </div>
  <div id="next"><%= paginate_next(@wordrobe) %></div>
<% end %>
