<% word = @wordrobe.first %>
<div id="wordrobe_info">
  <% if word %>
    <%= paginate @wordrobe, :theme => "wordrobe_next" %>
    <div id="heart">
      <% unless @translated %>
        <%= word.word.name %>
      <% else %>
        <div class="translated"><%= raw(@translated) %></div>
      <% end %>
    </div>
    <div id="check">
      <% if word.memorize? %>
        <img src="/assets/memorized.png" />
      <% else %>
        <img src="/assets/forgot.png" />
      <% end %>
    </div><!-- /#check -->
    <input type="hidden" name="wordrobe_id" id="wordrobe_id" value="<%= word.id %>" />
    <input type="hidden" name="page" id="page" value="<%= params[:page] || 1 %>" />
    <input type="hidden" name="translated" id="translated" value="<%= @translated.blank? %>" />
    <%= paginate @wordrobe, :theme => "wordrobe_prev" %>
  <% else %>
    <div id="heart">h</div>
    <div id="help_text"><%= raw(t(".message.greeting")) %></div>
  <% end %>
  <input type="hidden" name="error" id="error" value="<%= @error %>" />
</div>
