<% word = @wordrobe.first %>
<div id="wordrobe_info">
  <% if word %>
    <%= paginate @wordrobe, :theme => "wordrobe_next" %>
    <div id="heart"><%= word.word.name %></div>
    <!--<div id="translated"><%= word.word.name %></div>-->
    <div id="check">
      <% if word.memorize? %>
        <img src="/assets/memorized.png" />
      <% else %>
        <img src="/assets/forgot.png" />
      <% end %>
    </div><!-- /#check -->
    <input type="hidden" name="wordrobe_id" id="wordrobe_id" value="<%= word.id %>" />
    <input type="hidden" name="page" id="page" value="<%= params[:page] || 1 %>" />
    <%= paginate @wordrobe, :theme => "wordrobe_prev" %>
  <% else %>
    <div id="heart">h</div>
    <div id="help_text"><%= raw(t(".message.greeting")) %></div>
  <% end %>
</div>
