<div id="add" class="modal hide fade my_modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3><%= t(".message.title") %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(".message.intro") %></p>
    <%= form_tag "", :id => "add_form" do %>
      <%= autocomplete_field_tag "word", "", autocomplete_word_name_words_path %>
      <input type="button" value="<%= t("wordrobe.button.create") %>" id="add_button" class="btn small" />
    <% end %>
  </div>
</div><!-- /#add -->
