<%= javascript_tag do %>
$(function() {
  $('#help').bind('shown', function () { $(document).unbind("keydown"); })
  $('#help').bind('hidden', function () { bind_all(); })

  $('#add').bind('shown', function () { $(document).unbind("keydown"); })
  $('#add').bind('hidden', function () { bind_all(); })

  bind_all();
});
<% end %>

<div class="container">
  <div class="row">
    <div class="span11">
      <h1 id="logo"><%= link_to "Wordrobe", welcome_path %></h1>
    </div><!-- /.span11 -->
    <div class="span1">
      <div id="picture"><img src="http://graph.facebook.com/<%= current_account.nickname %>/picture" width="30" height="30" alt="<%= current_account.nickname %>" /></div>
    </div><!-- /.span1 -->
    <div class="span4">
      <div id="nickname"><%= current_account.nickname %></div>
      <div id="link">
        <a href="#" onClick="toggle_help_modal(); return false;"><%= t(".link.help") %>(h)</a>
        <a href="#"><%= t(".link.history") %>(p)</a>
        <a href="#"><%= t(".link.config") %>(c)</a>
        <%= link_to t(".link.log_out"), log_out_path, :method => :delete %>
      </div>
    </div><!-- /.span4 -->
  </div><!-- /.row -->
</div><!--- /.container -->

<div id="help" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>help</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary">Primary</a>
    <a href="#" class="btn secondary">Secondary</a>
  </div>
</div><!-- /#help -->

<div id="add" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>add</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary">Primary</a>
    <a href="#" class="btn secondary">Secondary</a>
  </div>
</div><!-- /#add -->
