<div class="container">
  <div class="row">
    <div class="span11">
      <h1 id="logo"><%= link_to "Wordrobe", welcome_path %></h1>
    </div><!-- /.span11 -->
    <div class="span1">
      <div id="picture"><a href="#" rel="twipsy" data-original-title="<%= t(".link.profile", :nickname => current_account.nickname) %>"><img src="http://graph.facebook.com/<%= current_account.nickname %>/picture" width="30" height="30" alt="<%= current_account.nickname %>" /></a></div>
    </div><!-- /.span1 -->
    <div class="span4">
      <div id="link">
        <a href="#" id="help_link" rel="twipsy" title="<%= t(".link.help") %>"><strong class="key">h</strong></a>
        <a href="#" id="history_link" rel="twipsy" title="<%= t(".link.history") %>"><strong class="key">p</strong></a>
        <a href="#" id="config_link" rel="twipsy" title="<%= t(".link.config") %>"><strong class="key">c</strong></a>
        <a href="/log_out" rel="twipsy" title="<%= t(".link.log_out") %>" data-method="delete"><strong class="key">l</strong></a>
      </div>
    </div><!-- /.span4 -->
  </div><!-- /.row -->
</div><!--- /.container -->

<%= render :partial => "layouts/help_modal" %>

<%= render :partial => "layouts/add_modal" %>
