<div id="menu">
  <div class="container">
    <div class="row">
      <div class="span1 offset11">
        <div id="picture"><img src="http://graph.facebook.com/<%= current_account.nickname %>/picture" width="25" height="25" alt="<%= current_account.nickname %>" /></div>
      </div><!-- /.span1 -->
      <div class="span4">
        <div id="nickname"><%= current_account.nickname %></div>
        <div id="link">
          <img src="/assets/common/header/history.png" /><%= link_to t(".link.history") %>
          <img src="/assets/common/header/config.png" /><%= link_to t(".link.config") %>
          <img src="/assets/common/header/logout.png" /><%= link_to t(".link.log_out"), log_out_path, :method => :delete %>
        </div>
      </div><!-- /.span4 -->
    </div><!-- /.row -->
  </div><!--- /.container -->
</div><!-- /#menu -->