<div class="container">
  <div class="row">
    <div class="span11">
      <h1 id="logo"><%= link_to "Wordrobe", welcome_path %></h1>
    </div><!-- /.span11 -->
    <div class="span1">
      <div id="picture"><img src="http://graph.facebook.com/<%= current_account.nickname %>/picture" width="30" height="30" alt="<%= current_account.nickname %>" /></div>
    </div><!-- /.span1 -->
    <div class="span4">
      <div id="nickname"><%= current_account.nickname %></div>
      <div id="link">
        <a href="#" onClick="help_modal(); return false;"><%= t(".link.help") %>(h)</a>
        <a href="#"><%= t(".link.history") %>(p)</a>
        <a href="#"><%= t(".link.config") %>(c)</a>
        <%= link_to t(".link.log_out"), log_out_path, :method => :delete %>
      </div>
    </div><!-- /.span4 -->
  </div><!-- /.row -->
</div><!--- /.container -->

<%= render :partial => "layouts/help_modal" %>

<%= render :partial => "layouts/add_modal" %>
