<div id="header">
  <div class="row">
    <div class="span9">
      <h1 id="logo">Wordrobe</h1>
    </div>
    <div id="picture" class="span2">
      <img src="http://graph.facebook.com/<%= current_account.nickname %>/picture" width="50" height="50" alt="<%= current_account.nickname %>" />
    </div>
    <div class="span5">
      <div id="greeting"><%= t(".message.greeting", :name => current_account.last_name, :greeting => greeting) %></div>
      <div id="menu">
        <ul class="pills">
          <li class="active"><%= link_to t(".link.dashboard"), dashboard_path, :method => :get %></li>
          <li><a href="#">履歴</a></li>
          <li><%= link_to t(".link.log_out"), log_out_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
