<div id="help" class="modal hide fade my_modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3><%= t(".message.title") %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(".message.subject.hotkey") %></p>
    <ul>
      <li><strong class="key">h</strong>&nbsp;<%= t(".message.body.help") %></li>
      <li><strong class="key">a</strong>&nbsp;<%= t(".message.body.add") %></li>
      <li><strong class="key">m</strong>&nbsp;<%= t(".message.body.memorize") %></li>
      <li><strong class="key">&#8593;</strong>&nbsp;<%= t(".message.body.translate") %></li>
      <li><strong class="key">&#8592;</strong>&nbsp;or&nbsp;<strong class="key">&#8594;</strong>&nbsp;<%= t(".message.body.navigate_per_one") %></li>
      <li><strong class="key">shift</strong>&nbsp;+&nbsp;<strong class="key">&#8592;</strong>&nbsp;or&nbsp;<strong class="key">shift</strong>&nbsp;+&nbsp;<strong class="key">&#8594;</strong>&nbsp;<%= t(".message.body.navigate_per_ten") %></li>
    </ul>
    <p><%= t(".message.subject.history") %></p>
    <ul>
      <li><%= t(".message.body.history") %>&nbsp;<span class="label"><%= t(".label.under_construction") %></span></li>
    </ul>
    <p><%= t(".message.subject.config") %></p>
    <ul>
      <li><%= t(".message.body.config") %>&nbsp;<span class="label"><%= t(".label.under_construction") %></span></li>
    </ul>
    <p><%= t(".message.subject.quit") %></p>
    <ul>
      <li><%= t(".message.body.quit") %></li>
    </ul>
  </div>
</div><!-- /#help -->
