<div id="help" class="modal hide fade my_modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3><%= t(".message.title") %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(".message.intro") %></p>
    <table>
      <thead>
        <tr>
          <th><%= t(".message.header.key") %></th>
          <th><%= t(".message.header.content") %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>h</td><td><%= t(".message.body.help") %></td>
        </tr>
        <tr>
          <td>a</td><td><%= t(".message.body.add") %></td>
        </tr>
        <tr>
          <td>t</td><td><%= t(".message.body.translate") %></td>
        </tr>
        <tr>
          <td>m</td><td><%= t(".message.body.memorize") %></td>
        </tr>
        <tr>
          <td>h or l</td><td><%= t(".message.body.navigate") %></td>
        </tr>
        <tr>
          <td>← or →</td><td><%= t(".message.body.navigate") %></td>
        </tr>
        <tr>
          <td>p</td><td><%= t(".message.body.past") %></td>
        </tr>
        <tr>
          <td>c</td><td><%= t(".message.body.config") %></td>
        </tr>
        <tr>
          <td>b</td><td><%= t(".message.body.top") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- /#help -->
