<div id="help" class="modal hide fade my_modal">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3><%= t(".message.title") %></h3>
  </div>
  <div class="modal-body">
    <p><%= t(".message.intro") %></p>
    <ul>
      <li><strong class="key">h</strong>&nbsp;<%= t(".message.body.help") %></li>
      <li><strong class="key">a</strong>&nbsp;<%= t(".message.body.add") %></li>
      <li><strong class="key">t</strong>&nbsp;<%= t(".message.body.translate") %></li>
      <li><strong class="key">m</strong>&nbsp;<%= t(".message.body.memorize") %></li>
      <li><strong class="key">&nbsp;←</strong>&nbsp;or&nbsp;<strong class="key">→</strong>&nbsp;<%= t(".message.body.navigate") %></li>
      <li><strong class="key">p</strong>&nbsp;<%= t(".message.body.past") %></li>
      <li><strong class="key">c</strong>&nbsp;<%= t(".message.body.config") %></li>
      <li><strong class="key">b</strong>&nbsp;<%= t(".message.body.top") %></li>
      <li><strong class="key">l</strong>&nbsp;<%= t(".message.body.log_out") %></li>
    </ul>
  </div>
</div><!-- /#help -->
