<!DOCTYPE html>
<html>
<head>
  <title>Wordrobe</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="<%= controller_name + "_" + action_name %>" class="<%= controller_name %> <%= action_name %>">
  <div id="header">
    <div class="container">
      <div id="menu">
        <% if current_account %>
          <%= render :partial => "layouts/help_modal" %>
          <%= render :partial => "layouts/add_modal" %>
          <%= render :partial => "layouts/error_modal" %>
        <% end %>
      </div><!-- /#menu -->
      <h1 id="logo"><%= link_to "Wordrobe", welcome_path %></h1>
    </div><!-- /.container -->
  </div><!-- /#header -->

  <%= yield %>

  <div id="footer">
    <div class="container">
      <div id="copyright">&copy; MARUGOSHI.ORG</div>
    </div><!-- /.container -->
  </div><!-- /#footer -->
</div><!-- /#<%= controller_name + "_" + action_name %> .<%= controller_name %> .<%= action_name %> -->
</body>
</html>
