<!DOCTYPE html>
<html>
<head>
  <title>Wordrobe</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div class="container">
    <div id="menu"></div>
    <h1 id="logo">Wordrobe</h1>
    <h2 id="lead"><%= t(".message.lead") %></h2>
  </div>
</div>

<%= yield %>

<div id="footer">
  <div class="container">
    <div id="copyright">&copy; MARUGOSHI.ORG</div>
  </div>
</div>
</body>
</html>
