<%= javascript_tag do %>

// update wordrobe
$(function() {
  $(".update_wordrobe").live(
    "ajax:success",
    function(event, data, xhr) {
      $("#wordrobe").html(data);
    }
  );
});

// star rating
$.fn.rating.options.callback = function(value) {
  $.post(
    "/accounts/wordrobes/" + $("input#wordrobe_id").val() + "/rating_with_ajax?page=" + $("input#page").val(),
    { rating : value },
    function(data) {
      $("#wordrobe").html(data);
    }
  );
};
<% end %>

<div id="wardrobe">
  <div class="container">
    <div class="row">
      <div class="span11">
        <div id="leftbox">
          <div id="wordrobe">
            <%= render :partial => "accounts/wordrobes/wordrobe" %>
          </div>
        </div><!-- /#leftbox -->
      </div><!-- /.span11 -->
      <div class="span5">
        <div id="rightbox">
          <div class="well">
            <% if @wordrobe.count == 0 %>
              <div id="oops_no_word"><%= simple_format t(".message.oops_no_word") %></div>
            <% end %>
            <%= form_tag "accounts/wordrobes", :method => :post, :id => "add_form", :class => "form-stacked" do %>
              <label for="word"><%= t(".label.word") %></label>
              <%= autocomplete_field_tag "word", "", autocomplete_word_name_words_path, :class => "span3" %>
              <span class="add"><%= submit_tag t("wordrobe.button.create"), :class => "btn" %></span>
            <% end %>
          </div>
        </div><!-- /#rightbox -->
      </div><!-- /.span5 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /#wardrobe -->
