<%= javascript_tag do %>
// update wordrobe
$(function() {
  $(".update_wordrobe").live(
    "ajax:success",
    function(event, data, xhr) {
      $("#wordrobe").html(data);
    }
  );
});

// star rating
$.fn.rating.options.callback = function(value) {
  $.post(
    "/accounts/wordrobes/" + $("input#wordrobe_id").val() + "/rating_with_ajax?page=" + $("input#page").val(),
    { rating : value },
    function(data) {
      <% (1..5).to_a.each do |i| %>
        $('#star_<%= i %>').twipsy('hide');
      <% end %>
      $("#wordrobe").html(data);
    }
  );
};
<% end %>

<div id="wardrobe">
  <div class="container">
    <div class="row">
      <div class="span11">
        <div id="leftbox">
          <div id="wordrobe">
            <%= render :partial => "accounts/wordrobes/wordrobe" %>
          </div>
        </div><!-- /#leftbox -->
      </div><!-- /.span11 -->
      <div class="span5">
        <div id="rightbox">
          <div class="well">
            <% if @wordrobe.count == 0 %>
              <div id="oops_no_word"><%= simple_format t(".message.oops_no_word") %></div>
            <% end %>
            <%= form_tag "accounts/wordrobes", :method => :post, :id => "add_form", :class => "form-stacked" do %>
              <label for="word"><img src="/assets/common/leftbox/plus.png" width="15" height="15" alt="<%= t(".label.word") %>" /><span><%= t(".label.word") %></span></label>
              <%= autocomplete_field_tag "word", "", autocomplete_word_name_words_path, :class => "span3" %>
              <span class="add"><%= submit_tag t("wordrobe.button.create"), :class => "btn" %></span>
            <% end %>
            <hr />
            <div class="form-stacked">
              <label><img src="/assets/common/leftbox/user.png" width="15" height="15" alt="<%= t(".label.user") %>" /><span><%= t(".label.user") %></span></label>
              <a href="#" onClick="alert('<%= t("not_implement.message.title") %>')" title="<%= t("not_implement.message.user_1") %>" /><img src="/assets/dummy/user_01.jpg" width="30" height="30" alt="" /></a>
              <a href="#" onClick="alert('<%= t("not_implement.message.title") %>')" title="<%= t("not_implement.message.user_2") %>" /><img src="/assets/dummy/user_02.jpg" width="30" height="30" alt="" /></a>
              <a href="#" onClick="alert('<%= t("not_implement.message.title") %>')" title="<%= t("not_implement.message.user_3") %>" /><img src="/assets/dummy/user_03.jpg" width="30" height="30" alt="" /></a>
            </div>
            <hr />
            <div class="form-stacked">
              <label><img src="/assets/common/leftbox/paperstar.png" width="15" height="15" alt="<%= t(".label.paperstar") %>" /><span><%= t(".label.paperstar") %></span></label>
            </div>
          </div>
        </div><!-- /#rightbox -->
      </div><!-- /.span5 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /#wardrobe -->
